extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel='stylesheet', href='/stylesheets/customStyle.css')


head
    title= title

block body
    +img-responsive ("images/logo.jpg", "Logo")
    .container
        +navbar("","dropdown_menu","inverse")
            +nav_item("/","active") Home
            +nav_item("/browse") Browse
            +nav_item("/search") Search
            +nav_item("/contribute") Contribute

    +carousel("Carousel ID",[
        {image: "images/banner.jpg", p: ""},
        {image: "images/banner2.jpg", p: ""}
    ])

    .homeContent
        p.title Welcome to the Colenso Project!
        p "The Colenso Society, Victoria University of Wellington and MTG Hawke's Bay are delighted to announce the establishment of the Colenso Project. This exciting new initiative seeks to build on the blossoming national and international interest in William Colenso’s life and ideas as the result of the William Colenso Bicentenary Celebrations in Hawke’s Bay in 2011, and a body of new publications and research.
        p The intent of the Project is to ignite public and academic interest in Colenso’s words – published, unpublished, private letters, journals - both in Maori and English, by sharing them with the world in digital form. We envisage a hub for all things Colenso: a place to read documents in the original, explore his writing through transcriptions, and as a place to experiment with new research and interpretation methods.
        p This website will be the home of the Project, but its strength will lie in the collaboration between the many organisations and individuals that will contribute information, ideas and energy to the Project.
        p The first priority for the Project is the creation of a comprehensive bibliography of all William Colenso holdings. This is currently being compiled and is now available on bibliography page. Bringing our collective knowledge to bear on Colenso material, wherever it lies, will determine the strength of this bibliography, and to this end contributions and information are welcomed from individuals and institutions.
        p Further project details will be announced in the New Year, alongside the fundraising and sponsorship strategies that will be vital in developing the Project. If you are interested in being involved, and/or have information about Colenso holdings you can share with us, please contact one of the project team members below, or email us."

    footer.footer
            p.text-muted  Copyright &copy Colenso Project 2016