extends ../node_modules/jade-bootstrap/_bootstrap

append styles
    link(rel='stylesheet', href='/stylesheets/customStyle.css')


head
    title= title

block body
    +img-responsive ("images/logo.jpg", "Logo")
    .container
        +navbar("","dropdown_menu","inverse")
            +nav_item("index.html","active") Home
            +nav_item("index.html") About
            +nav_item("index.html") Search
            +nav_item("index.html") Contribute
            +nav_item("index.html") Contact

    +carousel("Carousel ID",[
        {image: "images/banner.jpg", p: ""},
        {image: "images/banner2.jpg", p: ""}
    ])

